# Dependencies
node_modules
**/node_modules

# Environment variables
.env
**/.env

# Build output
dist
build
.vite

# Logs
*.log
npm-debug.log*

# SQLite database
*.db
*.sqlite
*.sqlite3

# Operating System files
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json